<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Constelacion</title>
    <link href="~/Content/site.css" rel="stylesheet" />
    
</head>
<body>
    <div id="container">
        <header>
           
            <h1> ¿Hay vida en otros planetas?-Sistemas Solares </h1>
          
        </header>
        <section>
            <article>
                          

                @RenderBody()
            </article>
        </section>

        <aside id="pub">
            <article>
                <div>

                    <a href="/Home/Index"> Index </a>
                    <br />

                    <a href="/Home/Cosmo"> Cosmo </a>


                </div>
            </article>
        </aside>
        <footer>
            <p>&copy;    ¿Hay vida en otros planetas? @DateTime.Now.Year </p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>