html, body {
    height: 100%;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
/*
img {
    border: none;
}*/


h1 {
    font-family: Verdana, Calibri, sans-serif;
    font-size: 1.2em
}

h2 {
    font-family: Verdana, Calibri, sans-serif;
    font-size: 1.1em
}

span {
    color: #060;
}

strong {
    font-size: 20px;
}

em {
    color: #FFF;
    background-color: #7d99e0;
}



#container {
    width: 1080px;
    margin: 0 auto;
}
header {
    display: block;
    background-color: #286af0;
    padding: 20px 0px;
}

section {
    background-color: #ccc;;
    padding: 5px;
    overflow: auto;
    float: right;
    width: 79%;
    margin-top: 5px;
    margin-bottom: 5px;
    image-orientation:initial;

  
}

aside {
    /*float: right;*/
    float: left;
    width: 19%;
    margin-top: 5px;
    margin-bottom: 5px;
    border:solid red;
    text-align:left;
    line-height:100px;
   
}

footer {
    clear: both;
    position: relative;
    height: 40px;
    background-color: #286af0;
    text-align: center;
    color: #fafafa;
}



.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align:center;
}